<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>立委澄清</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="wrap">
		<div class="top">
			<div class="logo">
				<header class="logo-name"><em><a href="index.html">立委求職中</a></em></header>
			</div>
			<nav>
				<ul class="nav-bar">
					<li><a href="issue-content.html">公投</a></li>
					<li><a href="issue-content.html">罷免</a></li>
					<li><a href="issue-content.html">核四</a></li>
					<li><a href="issue-content.html">婚姻平權</a></li>
					<li><a href="about.html">關於我們</a></li>
				</ul>
			</nav>
		</div>
		<div class="main-wrap">
      <div class="inner-title">
      	<h1 class="ititle">立委澄清</h1>
      </div>
      <div class="info-content-wrap">
      	<h2 class="ctitle">針對此則內容澄清</h2>
      	<div class="info-content">
      		<p class="who-date">丁守中 / 發言 / 2015-10-10</p>
			<div class="say-what-content">發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容發言內容</div>
			<a href="" class="swc-link">內容連結</a>
      	</div>
      	<h2 class="ctitle">澄清說明*</h2>
      	<div class="info-content">
      	<div class="form-note">如果您不是要針對此則澄清，而是要回報我們網站疏漏的資料，也請將疏漏資料的立院連結一併提供，否則無法確認記錄的資料我們將不會採用。</div>
		<textarea name="" id="" cols="30" rows="10" class="input-02"></textarea>
		</div>
		<h2 class="ctitle">資料來源網址</h2>
		<div class="info-content">
		<input type="text" class="input-01">
		</div>
		<h2 class="ctitle">聯絡人*</h2>
		<div class="info-content">
					<div class="form-note">澄清內容須與當事者確認，請留下聯絡人資料</div>
		<input type="text" class="input-01">
		</div>
		<h2 class="ctitle">電話*</h2>
		<div class="info-content">
		<input type="text" class="input-01">
		</div>
		<h2 class="ctitle">Email*</h2>
		<div class="info-content">
		<input type="text" class="input-01">
		</div>
		<div class="form-btn"><button class="btn">送出</button></div>
      </div>
      </div>
      </div>

      <!-- End outer wrapper -->
		</div>
		<footer class="footer-info">
			<div class="booking">
				<div class="mail-form">
					<p>有興趣收到本站每月更新通知嗎？請留E-mail</p>
					<input type="text" class="mail-input">
					<input type="button" value="訂閱" class="sbtn">
					<input type="button" value="取消訂閱" class="sbtn">
					<div class="info-txt">依據個資法，關於個人資料蒐集、處理及利用聲明：
						<br>
					使用本電子報訂閱視為瞭解及同意沃草公司進行您個人資料（email資訊）之蒐集、處理及利用，除非取得您的同意或其他法令之特別規定，絕不會將您的個人資料提供給第三方或使用於電子報訂閱以外之其它用途。您隨時可來信取消此訂閱服務，經取消訂閱後，相關資料立即從訂閱資料庫中刪除。
					</div>
				</div>
			</div>
			<div class="link-cc">
				<nav class="footer-nav">
					<ul>
						<li><a href="">關於立委求職中</a></li>
						<li><a href="">資料來源說明</a></li>
						<li><a href="">著作權聲明</a></li>
						<li><a href="">回首頁</a></li>
					</ul>
				</nav>
				<div class="contact-cc">
					本網站採 CC-BY-NC-SA 授權
					<br>
					網站使用問題與合作建議，請聯絡：<a href="mailto:wevote@watchout.tw">wevote@watchout.tw</a>
				</div>
			</div>
		</footer>
	</div>
    
</body>
</html>