<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>議題內容</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="css/style.css" rel="stylesheet">
    <!-- bjqs.css contains the *essential* css needed for the slider to work -->
    <link rel="stylesheet" href="css/bjqs.css">

    <!-- some pretty fonts for this demo page - not required for the slider -->
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300' rel='stylesheet' type='text/css'> 

    <!-- demo.css contains additional styles used to set up this demo page - not required for the slider --> 
    <link rel="stylesheet" href="css/demo.css">

    <!-- load jQuery and the plugin -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="js/bjqs-1.3.min.js"></script>
    <script>
        jQuery(document).ready(function($) {

          $('#banner-fade').bjqs({
            height      : 638,
            width       : 1500,
            responsive  : true
          });

        });
      </script>
</head>
<body>
	<div class="wrap">
		<div class="top">
			<div class="logo">
				<header class="logo-name"><em><a href="index.html">立委求職中</a></em></header>
			</div>
			<nav>
				<ul class="nav-bar">
					<li><a href="issue-content.html">公投</a></li>
					<li><a href="issue-content.html">罷免</a></li>
					<li><a href="issue-content.html">核四</a></li>
					<li><a href="issue-content.html">婚姻平權</a></li>
					<li><a href="issue-content.html">關於我們</a></li>
				</ul>
			</nav>
		</div>
		<div class="main-wrap">
			<!--  Outer wrapper for presentation only, this can be anything you like -->
      <div id="banner-fade">

        <!-- start Basic Jquery Slider -->
        <ul class="bjqs">
          <li><img src="images/b01.jpg"></li>
          <li><img src="images/b02.jpg"></li>
          <li><img src="images/b01.jpg"></li>
          <li><img src="images/b02.jpg"></li>
          <li><img src="images/b01.jpg"></li>
          <li><img src="images/b02.jpg"></li>
          <li><img src="images/b01.jpg"></li>
          <li><img src="images/b02.jpg"></li>
          <li><img src="images/b01.jpg"></li>
          <li><img src="images/b02.jpg"></li>
        </ul>
        <!-- end Basic jQuery Slider -->

      </div>
      <div class="block">
      	<h1 class="ititle">拔草測風向：你是否支持罷免門檻應該下修？</h1>
      	<div class="anser-chose">
      		<a href="#" class="color-btn">Yes</a>
      		<a href="#" class="color-btn">No</a></div>
      </div>
      <div class="block">
      	<h2 class="ititle">你選擇了Yes 贊成門檻下修/你選擇了No 反對門檻下修</h2>
      	<div class="analyze-party analyze-block">
      		<div class="yes-block">
      			<h3>贊成門檻下修</h3>
      			<div class="party-block party01">
      				<a href="party-content.html">
      					<h4>民進黨</h4>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      				</a></div>
      			<div class="party-block party02">
      				<a href="party-content.html">
      					<h4>台聯</h4>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      				</a></div>
      		</div>
      		<div class="no-block">
      			<h3>反對門檻下修</h3>
      			<div class="party-block party03">
      				<a href="party-content.html">
      					<h4>國民黨</h4>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      				</a></div>
      			<div class="party-block party04">
      				<a href="party-content.html">
      					<h4>親民黨</h4>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      				</a></div>
      		</div>
      	</div>
      	<div class="analyze-people analyze-block">
      		<div class="yes-block">
      			<h3>贊成門檻下修</h3>
      			<ul class="people-list people-three">
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">歐陽大頭</h4>
						</a></li>
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">王小名</h4>
						</a></li>
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">歐陽大頭</h4>
						</a></li>
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">王小名</h4>
						</a></li>
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">王小名</h4>
						</a></li>
				</ul>
      		</div>
      		<div class="no-block">
      			<h3>反對門檻下修</h3>
      			<ul class="people-list people-three">
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">歐陽大頭</h4>
						</a></li>
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">王小名</h4>
						</a></li>
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">歐陽大頭</h4>
						</a></li>
				</ul>
      		</div>
      		<div class="noanswer-block">
      			<h3>應表態而未表態表態</h3>
      			<ul class="people-list people-three">
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">歐陽大頭</h4>
						</a></li>
					<li><a href="people-content.html">
							<img src="images/people-sample.jpg" alt="">
							<h4 class="name02">王小名</h4>
						</a></li>
				</ul>
      		</div>
      	</div>
      </div>

      <!-- End outer wrapper -->
		</div>
		<footer class="footer-info">
			<div class="booking">
				<div class="mail-form">
					<p>有興趣收到本站每月更新通知嗎？請留E-mail</p>
					<input type="text" class="mail-input">
					<input type="button" value="訂閱" class="sbtn">
					<input type="button" value="取消訂閱" class="sbtn">
					<div class="info-txt">依據個資法，關於個人資料蒐集、處理及利用聲明：
						<br>
					使用本電子報訂閱視為瞭解及同意沃草公司進行您個人資料（email資訊）之蒐集、處理及利用，除非取得您的同意或其他法令之特別規定，絕不會將您的個人資料提供給第三方或使用於電子報訂閱以外之其它用途。您隨時可來信取消此訂閱服務，經取消訂閱後，相關資料立即從訂閱資料庫中刪除。
					</div>
				</div>
			</div>
			<div class="link-cc">
				<nav class="footer-nav">
					<ul>
						<li><a href="">關於立委求職中</a></li>
						<li><a href="">資料來源說明</a></li>
						<li><a href="">著作權聲明</a></li>
						<li><a href="">回首頁</a></li>
					</ul>
				</nav>
				<div class="contact-cc">
					本網站採 CC-BY-NC-SA 授權
					<br>
					網站使用問題與合作建議，請聯絡：<a href="mailto:wevote@watchout.tw">wevote@watchout.tw</a>
				</div>
			</div>
		</footer>
	</div>
    
</body>
</html>