<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>政黨頁</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="wrap">
		<div class="top">
			<div class="logo">
				<header class="logo-name"><em><a href="index.html">立委求職中</a></em></header>
			</div>
			<nav>
				<ul class="nav-bar">
					<li><a href="issue-content.html">公投</a></li>
					<li><a href="issue-content.html">罷免</a></li>
					<li><a href="issue-content.html">核四</a></li>
					<li><a href="issue-content.html">婚姻平權</a></li>
					<li><a href="about.html">關於我們</a></li>
				</ul>
			</nav>
		</div>
		<div class="main-wrap">
      <div class="inner-title">
      	<h1 class="ititle">中國國民黨</h1>
      	<ul class="inner-tag">
      		<li><a href="party-content.html" class="current">議題表態</a></li>
      		<li><a href="party-info.html">基本資料</a></li>
      	</ul>
      </div>
      	<div class="analyze-block party-issue-ana">
      			<div class="issue-ana-block issueana01">
      				<a href="party-issue-list.html">
      					<h2>罷免</h2>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
      				</a></div>
      			<div class="issue-ana-block issueana02">
      				<a href="party-issue-list.html">
      					<h2>核四</h2>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
      				</a></div>
      			<div class="issue-ana-block issueana03">
      				<a href="party-issue-list.html">
      					<h2>婚姻平權</h2>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
      				</a></div>
      			<div class="issue-ana-block issueana04">
      				<a href="party-issue-list.html">
      					<h2>公投</h2>
      					<span class="yes-s"></span>
      					<span class="yes-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
      					<span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="yes-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
                                    <span class="no-s"></span>
      				</a></div>
      	</div>
      </div>

      <!-- End outer wrapper -->
		</div>
		<footer class="footer-info">
			<div class="booking">
				<div class="mail-form">
					<p>有興趣收到本站每月更新通知嗎？請留E-mail</p>
					<input type="text" class="mail-input">
					<input type="button" value="訂閱" class="sbtn">
					<input type="button" value="取消訂閱" class="sbtn">
					<div class="info-txt">依據個資法，關於個人資料蒐集、處理及利用聲明：
						<br>
					使用本電子報訂閱視為瞭解及同意沃草公司進行您個人資料（email資訊）之蒐集、處理及利用，除非取得您的同意或其他法令之特別規定，絕不會將您的個人資料提供給第三方或使用於電子報訂閱以外之其它用途。您隨時可來信取消此訂閱服務，經取消訂閱後，相關資料立即從訂閱資料庫中刪除。
					</div>
				</div>
			</div>
			<div class="link-cc">
				<nav class="footer-nav">
					<ul>
						<li><a href="">關於立委求職中</a></li>
						<li><a href="">資料來源說明</a></li>
						<li><a href="">著作權聲明</a></li>
						<li><a href="">回首頁</a></li>
					</ul>
				</nav>
				<div class="contact-cc">
					本網站採 CC-BY-NC-SA 授權
					<br>
					網站使用問題與合作建議，請聯絡：<a href="mailto:wevote@watchout.tw">wevote@watchout.tw</a>
				</div>
			</div>
		</footer>
	</div>
    
</body>
</html>