<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>政黨頁</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="wrap">
		<div class="top">
			<div class="logo">
				<header class="logo-name"><em><a href="index.html">立委求職中</a></em></header>
			</div>
			<nav>
				<ul class="nav-bar">
					<li><a href="issue-content.html">公投</a></li>
					<li><a href="issue-content.html">罷免</a></li>
					<li><a href="issue-content.html">核四</a></li>
					<li><a href="issue-content.html">婚姻平權</a></li>
					<li><a href="about.html">關於我們</a></li>
				</ul>
			</nav>
		</div>
		<div class="main-wrap">
      <div class="inner-title">
      	<h1 class="ititle">王大頭</h1>
      	<ul class="inner-tag">
      		<li><a href="people-content.html">議題表態</a></li>
      		<li><a href="people-info.html" class="current">基本資料</a></li>
      	</ul>
      </div>
      <div class="info-content-wrap">
      	<h2 class="ctitle">沃草人物誌-立委候選人系列</h2>
      	<div class="info-banner">滑動banner預留在這個位子</div>
      	<h2 class="ctitle">最想推行的3 個法案</h2>
      	<div class="info-content">加薪四法<br>所得稅法<br>會計法</div>
      	<h2 class="ctitle">最關注的3 個在地議題</h2>
      	<div class="info-content">中正區健身中心設備優化<br>中正國小合併案<br>快速道路拓寬</div>
      	<h2 class="ctitle">學歷</h2>
      	<div class="info-content">美國佛萊契爾外交法律研究院（哈佛大學合作管理）外交法律碩士、國際政治學博士、台大政治系學士</div>
      	<h2 class="ctitle">經歷</h2>
      	<div class="info-content">中華民國第1、2、3、4、6、7屆立法委員<br>立法院經濟委員會召集委員、委員長<br>立法院國防委員會召集委員<br>臺灣大學政治研究所副教授<br>美國史丹福大學胡佛研究所客座研究員<br>中國國民黨中央政策會副執行長<br>中華民國籃球協會理事長<br>中華兩岸文化創意產業發展協會理事長<br>國際佛光會中華總會副總會長<br>中華捐血運動協會常務理事<br>中華儒道研究協會名譽理事長<br>董氏基金會終生義工</div>
      </div>
      </div>
      </div>

      <!-- End outer wrapper -->
		</div>
		<footer class="footer-info">
			<div class="booking">
				<div class="mail-form">
					<p>有興趣收到本站每月更新通知嗎？請留E-mail</p>
					<input type="text" class="mail-input">
					<input type="button" value="訂閱" class="sbtn">
					<input type="button" value="取消訂閱" class="sbtn">
					<div class="info-txt">依據個資法，關於個人資料蒐集、處理及利用聲明：
						<br>
					使用本電子報訂閱視為瞭解及同意沃草公司進行您個人資料（email資訊）之蒐集、處理及利用，除非取得您的同意或其他法令之特別規定，絕不會將您的個人資料提供給第三方或使用於電子報訂閱以外之其它用途。您隨時可來信取消此訂閱服務，經取消訂閱後，相關資料立即從訂閱資料庫中刪除。
					</div>
				</div>
			</div>
			<div class="link-cc">
				<nav class="footer-nav">
					<ul>
						<li><a href="">關於立委求職中</a></li>
						<li><a href="">資料來源說明</a></li>
						<li><a href="">著作權聲明</a></li>
						<li><a href="">回首頁</a></li>
					</ul>
				</nav>
				<div class="contact-cc">
					本網站採 CC-BY-NC-SA 授權
					<br>
					網站使用問題與合作建議，請聯絡：<a href="mailto:wevote@watchout.tw">wevote@watchout.tw</a>
				</div>
			</div>
		</footer>
	</div>
    
</body>
</html>