<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>立委求職中網站管理後台</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/admin-style.css" rel="stylesheet" type="text/css" />
<link href="../css/thickbox.css" rel="stylesheet" type="text/css" />
</head>


<body id="longin_page">

<div id="all">
  <div id="login">
  <h1>【網站管理後台】</h1>
<p class="ltxt">帳號</p>
<p>
  <input type="text" name="textfield" id="admin_id" />
</p>

<p class="ltxt">密碼</p>
<p>
  <input type="text" name="textfield2" id="admin_pw" />
</p>
<a href="admin_index.html">登入</a> 
</div>
</div>

</body>
</html>
