<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>立委求職中網站管理後台</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/admin-style.css" rel="stylesheet" type="text/css" />
<link href="../css/thickbox.css" rel="stylesheet" type="text/css" />
</head>


<body>

<div id="all">
<div id="content_wrap">
<div id="side_menu">
<div class="side_block">
<h4><a href="admin_index.html">後台管理首頁</a></h4>
</div>
<div class="side_block">
<ul>
<li><a href="issue_list.html">議題管理</a></li>
<li><a href="party_issue_count.html">政黨表態統計</a></li>
<li><a href="people_issue_count.html">人物表態統計</a></li>
<li><a href="party.html">政黨管理</a></li>
<li><a href="people.html">人物管理</a></li>
<li><a href="people_say.html">人物表態管理</a></li>
<li><a href="people_paper.html">人物承諾管理</a></li>
<li><a href="paper.html">承諾書問題管理</a></li>
<li><a href="email_list.html">email訂閱管理</a></li>
<li><a href="email_output.html">email訂閱匯出</a></li>
</ul>
</div>
</div>
  <div id="main" class="inner">
<div id="header">立委求職中網站管理後台 - <a href="admin_login.html" class="logout">我要登出</a> 
</div>
    <h1>議題管理：內容</h1>
    

<table width="100%" border="1" cellpadding="5">
          <tr>
            <th width="131">*議題名稱</th>
            <td width="281"><p>
              <input type="text" name="textfield4" id="textfield4" class="long-input" />
            </p></td>
            <th width="99">是否公開</th>
            <td width="279"><p>
              <input type="checkbox" name="checkbox" id="checkbox" />
              公開</p></td>
          </tr>
          <tr>
            <th>*議題主圖片</th>
            <td colspan="3"><input type="file" name="fileField" id="fileField" /></td>
          </tr>
          <tr>
            <th>*議題短描述</th>
            <td colspan="3"><input type="text" name="textfield2" id="textfield2" class="long-input" /></td>
          </tr>
          <tr>
            <th>協力NGO名字</th>
            <td colspan="3"><input type="text" name="textfield" id="textfield" class="long-input" /></td>
          </tr>
          <tr>
            <th valign="top">協力NGO連結</th>
            <td colspan="3"><input type="text" name="textfield3" id="textfield3" class="long-input" /></td>
          </tr>
          </table>
          <div class="btn">
        <input type="submit" name="button" id="button" value="儲存" class="submit"/>
</div>
<p class="hint">排序調整：將滑鼠移到區塊上，按住滑鼠上下拖曳到要的位置後放開即可調整排序</p>
<div class="btn">
        <a href="issue_pic_add.html" class="submit">新增圖片</a>
</div>
<div class="row"><div class="col-md-5 col-md-offset-4 sortable-banner"><div class="panel panel-default" data-id="1" data-pos="1" role="option" aria-grabbed="false" draggable="true">
        <div class="panel-heading">        
        <table width="100%" border="1" cellpadding="5">
  <tr>
    <th width="12%" align="center"><p>圖檔</p>
      <p>&nbsp;</p></th>
    <td width="40%" align="left"><img src="images/plist_01.jpg" width="270"  alt=""/></td>
    <th width="12%">操作</th>
    <td width="36%" align="left"><a href="issue_pic_add.html">編輯</a> | <a href="#">刪除</a></td>
  </tr>
  <tr>
    <th align="center">簡單描述</th>
    <td colspan="3" align="left">核四議題一</td>
    </tr>
  </table>
        </div></div><div class="panel panel-default" data-id="2" data-pos="2" role="option" aria-grabbed="false" draggable="true">
          <div class="panel-heading"><table width="100%" border="1" cellpadding="5">
  <tr>
    <th width="12%" align="center"><p>圖檔</p>
      <p>&nbsp;</p></th>
    <td width="40%" align="left"><img src="images/plist_01.jpg" width="270"  alt=""/></td>
    <th width="12%">操作</th>
    <td width="36%" align="left"><a href="issue_pic_add.html">編輯</a> | <a href="#">刪除</a></td>
  </tr>
  <tr>
    <th align="center">簡單描述</th>
    <td colspan="3" align="left">核四議題一</td>
    </tr>
  </table></div></div><div class="panel panel-default" data-id="3" data-pos="3" role="option" aria-grabbed="false" draggable="true">
    <div class="panel-heading">
      <table width="100%" border="1" cellpadding="5">
        <tr>
          <th width="12%" align="center"><p>圖檔</p>
            <p>&nbsp;</p></th>
          <td align="left"><img src="images/plist_01.jpg" width="270"  alt=""/></td>
          <th>操作</th>
          <td align="left"><a href="issue_pic_add.html">編輯</a> | <a href="#">刪除</a></td>
        </tr>
        <tr>
          <th align="center">簡單描述</th>
          <td width="40%" align="left">核四議題一</td>
          <th width="12%">連結文字</th>
          <td width="36%" align="left">支持范雲</td>
        </tr>
        </table>
    </div></div><div class="panel panel-default" data-id="4" data-pos="4" role="option" aria-grabbed="false" draggable="true">
      <div class="panel-heading">
        <table width="100%" border="1" cellpadding="5">
        <tr>
          <th width="12%" align="center"><p>圖檔</p>
            <p>&nbsp;</p></th>
          <td width="40%" align="left"><img src="images/plist_01.jpg" width="270"  alt=""/></td>
          <th width="12%">操作</th>
          <td width="36%" align="left"><a href="issue_pic_add.html">編輯</a> | <a href="#">刪除</a></td>
        </tr>
        <tr>
          <th align="center">簡單描述</th>
          <td colspan="3" align="left">核四議題一</td>
        </tr>
        </table>

</div></div></div></div>
  </div>
</div>
</div>

</body>
</html>
