<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>最新消息</title>
<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/admin-style.css" rel="stylesheet" type="text/css" />
<link href="../css/thickbox.css" rel="stylesheet" type="text/css" />
</head>


<body>

<div id="all">
<div id="content_wrap">
<div id="side_menu">
<div class="side_block">
<h4><a href="admin_index.html">後台管理首頁</a></h4>
</div>
<div class="side_block">
<ul>
<li><a href="issue_list.html">議題管理</a></li>
<li><a href="party_issue_count.html">政黨表態統計</a></li>
<li><a href="people_issue_count.html">人物表態統計</a></li>
<li><a href="party.html">政黨管理</a></li>
<li><a href="people.html">人物管理</a></li>
<li><a href="people_say.html">人物表態管理</a></li>
<li><a href="people_paper.html">人物承諾管理</a></li>
<li><a href="paper.html">承諾書問題管理</a></li>
</ul>
</div>
</div>
  <div id="main" class="inner">
<div id="header">立委求職中網站管理後台 - <a href="admin_login.html" class="logout">我要登出</a> 
</div>
    <h1>政黨管理</h1>
    <div class="btn">
        <a href="party_add.html" class="submit">新增政黨</a>
</div>
    <table width="100%" border="1" cellpadding="5">
      <tr>
        <th>編號</th>
        <th width="129">全名</th>
        <th width="87">縮寫</th>
        <th width="98">不分區預測人數</th>
        <th width="314">黨旗圖片小<br />
          黨旗背景</th>
        <th>操作</th>
      </tr>
      <tr>
        <td width="38" align="center" valign="middle">1</td>
        <td align="center">中國國民黨</td>
        <td align="center">國民黨</td>
        <td align="center">30</td>
        <td align="center"><p><img src="images/sample.png" width="51" height="50" alt=""/></p>
          <p><img src="images/sample.png" width="300" height="60" alt=""/></p></td>
        <td width="96" align="center"><a href="party_add.html">編輯</a>｜<a href="#">刪除</a></td>
      </tr>
      <tr class="even">
        <td align="center" valign="middle">2</td>
        <td align="center">民主進步黨</td>
        <td align="center">民進黨</td>
        <td align="center">20</td>
        <td align="center"><p><img src="images/sample.png" width="51" height="50" alt=""/></p>
          <p><img src="images/sample.png" width="300" height="60" alt=""/></p></td>
        <td align="center"><a href="party_add.html">編輯</a>｜<a href="#">刪除</a></td>
      </tr>
      <tr>
        <td align="center" valign="top">&nbsp;</td>
        <td>直接顯示所有黨不用分頁</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td align="center">&nbsp;</td>
      </tr>
      </table>
  </div>
</div>
</div>

</body>
</html>
